* {
  padding: 0px;
  margin: 0 auto;
}
:root{
    --primary-color: #0193E0;
    --secondary-color: #2B4162;
    --accent1-color: #D7B377;
    --accent2-color: #f5f0f6;
    --heading-font: "Cinzel Decorative";
    --body-font1: "Laila";
    --body-font2: "Bona Nova SC";


    --body-font: 
}
header img{
  width: 200px;
  height: auto;
  border: var(--secondary-color) solid 5px;
}
nav{
  flex: 2 200px;
  display: flex;
}
header{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: var(--accent1-color);
  font-family: var(--body-font2);
  font-size: x-large;
  margin: 10px;

}
h1{
  position: absolute;
  font-family: var(--heading-font);
  color: var(--secondary-color);
  background-color: rgba(231, 222, 205, 0.5) ; 
}
div{
  display: flex;
  justify-content: center;
}
article{

  position: absolute;
  font-family: var(--body-font2);
  color: var(--secondary-color);
  background-color: rgba(231, 222, 205, 0.5);
  top: 300px
}
article img{
  position: relative;
  max-width: 200px;
  float: right;
}
h2{
  position: relative;
  text-align: center;
  font-family: var(--body-font2);
  font-size: xx-large;
}
section{
  position: relative;
  width: auto;
  height: auto;
  color: var(--accent2-color);
  background-color: var(--secondary-color);
  font-family: var(--body-font1);
  margin: 5px;
  font-weight: 600;
}
figcaption{
  font-family: var(--body-font2);
  color: var(--accent2-color)
}
section img{
  position: relative;
  width: 600px;
  height: auto;
  margin: 3px;
}
.hero img{
  display: block;
  width: 100%;
  height: auto;
}
footer{
  font-family: var(--body-font2);
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;
}
.sociallinks{
  flex: 3 0px;
  display: flex;
  justify-content: flex-end;
}
.history{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.adventures{
  display: flex;
  flex-direction: column;
  align-items: center;
}