* {
  padding: 0px;
  margin: 0 auto;
}
:root{
    --primary-color: #0193E0;
    --secondary-color: #2B4162;
    --accent1-color: #D7B377;
    --accent2-color: #f5f0f6;
    --heading-font: "Cinzel Decorative";
    --body-font1: "Laila";
    --body-font2: "Bona Nova SC";


    --body-font: 
}
header img{
  width: 200px;
  height: auto;
  border: var(--secondary-color) solid 5px;
}
nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}
header{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: var(--accent1-color);
  font-family: var(--body-font2);
  font-size: x-large;
  margin: 10px;

}
.main{
  position: absolute;
  font-family: var(--heading-font);
  color: var(--secondary-color);
  background-color: rgba(231, 222, 205, 0.5) ; 
}
.hero{
  display: flex;
  justify-content: center;
}
article{

  position: absolute;
  font-family: var(--body-font2);
  color: var(--secondary-color);
  background-color: rgba(231, 222, 205, 0.5);
  top: 300px
}
article img{
  position: relative;
  max-width: 200px;
  float: right;
}
h2{
  position: relative;
  text-align: center;
  font-family: var(--body-font1);
  font-size: large;
  padding: 10px;
}
section{
  position: relative;
  width: auto;
  height: auto;
  color: var(--accent2-color);
  background-color: var(--secondary-color);
  font-family: var(--body-font1);
  margin: 5px;
  font-weight: 600;
}
figcaption{
  font-family: var(--body-font2);
  color: var(--accent2-color);
}
section img{
  position: relative;
  width: 600px;
  height: auto;
  margin: 3px;
}
.hero img{
  display: block;
  width: 100%;
  height: auto;
}
footer{
  font-family: var(--body-font2);
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;
}
.sociallinks{
  flex: 3 0px;
  display: flex;
  justify-content: flex-end;
}
.history{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.adventures{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guides{
  font-family: var(--heading-font);
  color: var(--accent2-color);
  background-color: var(--secondary-color);
  text-align: center;
}
.groups{
  font-family: var(--body-font1);
  color: var(--secondary-color);
  display: grid;
}
.groups img{
  grid-row: 1;
  width: 200px;
}
.employees1{
  display: grid;
}
.employees2{
  display: grid;
  
}
.employees3{
  display: grid;
  
}
p{
  font-family: var(--body-font1);
  color: var(--secondary-color);
}
.groups figcaption{
  color: var(--secondary-color);
  font-family: var(--heading-font);
  grid-row: 2;
}
.groups p{
  grid-row: 3;
}
.company-info{
  font-family: var(--heading-font);
  color: var(--secondary-color);
  position: relative;
  grid-column: 1/ span 1;
  grid-row: 2/span 1;
  padding: 20px;
  }
.information{
  border-top: 2px solid var(--primary-color);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 3fr;
  grid-template-rows: 3fr 1fr 2fr 3fr;
  }
.address{
  align-content: end;
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}
.phone{
  align-content: center;
  grid-column: 2/span 2;
  grid-row: 2/ span 1;
}
.email{
  align-content: start;
  grid-column: 2/span 2;
  grid-row: 3/span 1;
}
.icons{
  font-family: var(--body-font2);
  margin: 20px;
}
.icons img{
  width: 20px;
}

.map{
  margin-right: 30px;
  grid-column: 4/span 1;
  grid-row: 1/span 5;
  align-content: center; 
}
iframe{
  border: 2px solid var(--secondary-color)
}

.message-us{
  font-family: var(--heading-font);
  color: var(--accent2-color);
  background-color: var(--secondary-color);
  text-align: center;
  
}
form{
  background-color: var(--accent1-color);
  color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  border-radius: 3%;
  font-family: var(--body-font1);
  margin: 20px;
  padding: 1rem;
  display: grid;
}
label{
  text-align: right;
  padding-right: 1rem;
  padding-left: 1rem;
}
input, select, textarea{
  padding: 0.5rem;
  font-size: 1.1rem;
}
textarea{
  margin: 10px;
}
input[type="checkbox"]{
  width: 20px;
  height: 20px;
  margin-left: 150px;
}
button{
  padding: 15px;
  width: 150px;
  color: var(--accent2-color);
  background-color: var(--secondary-color);
  border-radius: 10px;
  font-size: medium;
  border: none;
  font-family: var(--body-font1);
  vertical-align: center;
  margin-bottom: 10px;
}
button:hover{
  background-color: var(--primary-color);
}
.column1{
  grid-template-columns: 1fr 2fr;
  margin: 0.5rem 0;
}
fieldset{
  display: grid;
  grid-gap: 5px;
  margin: 10px;
  border: 1px solid #0003;
  padding: 10px;
}
legend{
  font-size: 1.2rem;
}
.column2{
  grid-template-columns: 3fr 1fr;
  margin: 0.3rem 0;
}